<%- include('partials/_header.ejs')%>
    <%- include('partials/_navigation.ejs')%>
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Hakkımızda<span class="m_1">Stajyer-IN Full-Time,Part-Time gibi filtrelemelerden uzak sadece genç yeteneklere açık bir platform</span></h1>
		</div>
	</div>
	
    
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Misyonumuz</h3>
						<div class="tr-pa">M</div>
						<p>Staj yapıp kendini geliştirmek isteyen öğrencilere kolay bir profil oluşturmayı sağlayıp 
                            firmalarla iletişimlerini hızlandırmayı hedefliyoruz.
                        </p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vizyonumuz</h3>
						<div class="tr-pa">V</div>
						<p>Stajyer süreçlerine hız,esneklik ve çeşitlilik katmayı planlıyoruz.</p>
					</div>
				</div>
			
			</div>
		</div>
	</div>

    

    <%- include('partials/_footer.ejs')%>
    